<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Smart Parking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>



    </ul>


    <ul class="navbar-nav ">
      <% if(login){ %>
      <li class="nav-item active">
        <a class="nav-link" href="/users/logout">
          <i class="fa fa-sign-out"></i>
          <!-- <span class="badge badge-info">11</span> -->
          </i>
          Logout
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/users/scan">
          <i class="fa fa-envelope-o">
            <!-- <span class="badge badge-danger">11</span> -->
          </i>
          scan
        </a>
      </li>

      <% } %>
      <% if( !login) { %>
      <li class="nav-item active">
        <a class="nav-link" href="/users/login">
          <i class="fa fa-sign-in">
            <!-- <span class="badge badge-success">11</span> -->
          </i>
          Login
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/register">
          <i class="fa fa-user">
            <!-- <span class="badge badge-success">11</span> -->
          </i>
          Register
        </a>
      </li>
      <% } %>
    </ul>

  </div>
</nav>



<h1 class="mt-4">Dashboard</h1>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<p class="lead mb-3">Welcome
  <%= user.name %>
</p>